<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
    <a class="create-link" th:href="@{/logout}">Logout</a>

    <h1>Books:</h1>

    <a class="create-link" th:href="@{/create}" href="bookEdit.html">Create new book</a>

    <table class="books">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.authorName}"></td>
            <td th:text="${book.genreName}"></td>
            <td>
                <a th:href="@{/edit(id=${book.id})}" href="bookEdit.html">Edit</a>
            </td>
            <td>
                <a th:href="@{/delete(id=${book.id})}" href="bookList.html">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
