﻿<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <h1>Login</h1>
    <br/>
    <form action="login" method="post">
        <label>
            Username <br/>
            <input type="text" name="username">
        </label>
        <br/>
        <label>
            Password <br/>
            <input type="password" name="password">
        </label>
        <br/><br/>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>